* {
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(#d8c7ff, #19006c);
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}